
<div class="section">
## {{ year }}

{% for p in pubs %}
**{{ p.title }}** <br> 
{{ p.authors }} <br>
{{ p.venue }} *({{ p.short }} {{ p.year }})* <br>
[PDF]({{ p.url }}) <br>


{% endfor %}


</div>
